@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@1&family=Fredoka+One&family=Orbitron:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Fredoka One', cursive;
    user-select: none;
}

:root {
    --pr-light-cr: #eee;
    --pr-dark-cr: #252525;
    --glass: linear-gradient(45deg, #eee5, #eee);
    --dark-glass: linear-gradient(34deg, #2229, #222);
    --container-width: 645px;
    --darkmode-cr: #b3b3b3;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(315deg, rgb(170, 185, 199), rgba(81, 104, 128, 0.6));
    background-color: azure;
    background-repeat: no-repeat;
}

body.dark {
    background-color: #323332;
}

.title {
    height: 90px;
    background: #27292759;
    width: var(--container-width);
    text-align: center;
    font-size: 34px;
    border-top-left-radius: 25% 50%;
    border-top-right-radius: 25% 50%;
    border-top: 8px groove #8f9e8f;
}

.title.dark {
    background: #efefeff1;
    border-top: groove 8px rgba(50, 51, 50, 0.5);
}

.title h1 {
    color: #669222;
    text-shadow:
        2px 5px var(--pr-light-cr),
        5px 5px var(--pr-dark-cr);
    letter-spacing: .1em;
    position: relative;
    font-family: 'Changa One', cursive;
    animation: title 12s linear infinite;
    font-weight: 400;
}

@keyframes title {
    0% {
        filter: hue-rotate(0deg);
    }

    100% {
        filter: hue-rotate(360deg);
    }
}

.nav-hints {
    position: absolute;
    height: 50px;
    width: 50px;
    left: 5%;
    top: 100px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: 0.5s;
}

.toggle-dark-mode {
    height: 20px;
    width: 40px;
    background: #86a0d1;
    box-shadow: 0 0 0 1px #222;
    position: absolute;
    right: 7%;
    top: 10%;
    border-radius: 20px;
}

.toggle {
    height: 18px;
    width: 18px;
    background: #222;
    border-radius: 50%;
    position: relative;
    margin-left: 3px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.5s;
    cursor: pointer;
    display: grid;
    place-items: center;
}

.toggle .inner {
    position: relative;
    left: 3px;
    height: 6px;
    width: 6px;
    background: transparent;
    border-radius: 50%;
    box-shadow: -3px 0 0 0 #eee;
    transform: rotate(-12deg);
}

.toggle.active {
    background: transparent;
    margin-left: 20px;
}

.toggle.active .inner {
    left: 0;
    background: linear-gradient(45deg, yellow, orange);
    box-shadow: 0 0 10px 5px orange;
    transform: rotate(0deg);
    display: grid;
    place-items: center;
}

.toggle .inner span {
    display: none;
}

.toggle.active .inner span {
    display: inline;
    position: absolute;
    top: -50%;
    left: 60%;
    font-size: 6px;
    transform-origin: 0 10px;
    transform: translate(-50%, -50%) rotate(calc(var(--j) * 40deg));
    color: yellow;
    animation: lit 2s infinite linear;
    animation-delay: calc(var(--j)* 110ms);
}

@keyframes lit {
    100% {
        color: azure;
    }
}

.undo {
    height: 30px;
    width: 30px;
    text-align: center;
    position: absolute;
    right: 1%;
    bottom: 3%;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: inset 0 0 3px var(--pr-dark-cr);
    transform-style: preserve-3d;
}

.undo:active{
    box-shadow: inset 0 0 6px var(--pr-dark-cr);
}

.undo ion-icon {
    font-size: 30px;
    transform: rotateY(180deg);
    color: var(--pr-dark-cr);
    transition: color .5s;
}

body.dark .undo ion-icon {
    border-radius: 4px;
    box-shadow: inset 0 0 3px var(--pr-light-cr);
    color: var(--pr-light-cr);
}
body.dark  .undo:active{
    box-shadow: inset 0 0 6px var(--pr-light-cr);
}

.menu {
    position: absolute;
    top: -60px;
    width: 100%;
    font-size: 20px;
    color: var(--pr-dark-cr);
    text-decoration: underline 3px solid var(--pr-dark-cr);
    transition: 0.5s;
}

.menu.active {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    background: #d2d8d2;
    width: 150px;
    border-radius: none;
    text-decoration: none;
}

.menu.active.dark-mode {
    background: #323332;
    color: var(--darkmode-cr);
}

.nav-hints ul {
    position: relative;
    list-style: none;
    color: var(--pr-dark-cr);
    transition: 0.5s;
    transform: translateX(-150px);
}

.nav-hints ul li {
    position: relative;
    border-top: 1px solid var(--pr-dark-cr);
    display: flex;
    justify-content: start;
    opacity: 0;
    overflow: hidden;
}

.nav-hints ul li span {
    position: absolute;
    right: 3px;
}

.nav-hints.active ul {
    display: flex;
    width: 150px;
    height: 300px;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1;
    background: #d2d8d2;
    transform: translateX(0px);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.nav-hints.active ul.dark-mode {
    background: #323332;
    color: var(--darkmode-cr);
}

.nav-hints.active ul li {
    width: 100%;
    font-size: 20px;
    left: 0;
    opacity: 1;
    display: flex;
}

.choose-level {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: var(--glass);
    width: var(--container-width);
    position: relative;
    box-shadow: -5px 0 25px var(--pr-light-cr),
        15px 10px 20px #527279;
}

.choose-level h2 {
    font-size: 30px;
    padding-bottom: 15px;
}

.choose-level form {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 35px;
}

form label {
    cursor: pointer;
    display: grid;
    place-items: center;
    overflow: hidden;
    min-width: 100px;
}

.choose-level label input {
    position: relative;
    -webkit-appearance: none;
    top: 20px;
}

.choose-level label input:checked {
    box-shadow:
        0 0 40px 20px steelblue;
}

.choose-level.dark-mode label input:checked {
    box-shadow:
        0 0 40px 20px #8ae4d8;
}

.game-info {
    height: 80px;
    width: var(--container-width);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: var(--dark-glass);
    position: relative;
}

.game-info.dark {
    background: linear-gradient(45deg, #9995, #eee);
}

.life {
    font-size: 30px;
    color: red;
    letter-spacing: 0.5em;
    background: var(--glass);
    text-align: center;
    padding-left: 20px;
    border-radius: 14px;
    box-shadow: inset 0 0 0 2px var(--pr-dark-cr);
}

.timer {
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
    color: var(--pr-dark-cr);
    background: var(--glass);
    width: 130px;
    height: 30px;
    text-align: center;
    font-weight: 600;
    padding: 5px;
    border-radius: 16px;
    box-shadow: 0 0 0 2px var(--pr-dark-cr);
    letter-spacing: 0.1em;
}

.flags {
    font-size: 25px;
    background: var(--glass);
    padding: 8px;
    border-radius: 8px;
    float: left;
    box-shadow: 0 0 0 2px var(--pr-dark-cr);
    letter-spacing: 0.2em;
}

.game-conainer {
    width: 600px;
    height: 530px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 20px;
    background: var(--glass);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: -3px 0 15px var(--pr-light-cr),
        15px 10px 15px #527279;
}

.board {
    border-radius: 3px;
    display: flex;
    justify-content: center;

}

.board table {
    table-layout: fixed;
    display: grid;
}

.cell {
    height: 40px;
    text-align: center;
    width: 40px;
    box-shadow: 0 0 0 .2px #000,
        inset -5px -5px 0 3px #9992,
        inset 2px 2px 0 2px #9992,
        inset -2.5px -2.5px 3px #000;
    background: linear-gradient(315deg, #7c7a7a 5%, #d1d1d1 60%);
    cursor: pointer;
    font-size: 1em;
    user-select: none;
    display: grid;
    place-items: center;
    transition: background 1s;
}

.cell:active {
    box-shadow: 0 0 0 .2px #000,
        inset -5px -5px 0 3px #9992,
        inset 2px 2px 0 2px #9992,
        inset -1.5px -1.5px 3px #000;
}

.flipped {
    background: var(--glass);
    cursor: default;
    box-shadow: none;
}

.end-screen {
    position: absolute;
    height: 200px;
    width: 350px;
    background: linear-gradient(to left, #f0f8ffe6, #f08080ec, #ff7f50ea, #f08080f1, #f0f8fff1);
    background-size: 400%;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 0 0 5px #222,
        inset 5px 5px 15px #eee,
        inset -5px -5px 10px #222,
        10px 10px 15px #222;
    border-radius: 16px;
    animation: bgSizing 12s linear infinite;
}

@keyframes bgSizing {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 400%;
    }
}

.greet {
    font-size: 40px;
    color: var(--pr-dark-cr);
    text-shadow: 5px 5px var(--pr-light-cr),
        10px 10px var(--pr-dark-cr);
}

.cur-level {
    letter-spacing: 0.05em;
}

.end-screen button {
    font-size: 20px;
    padding: 12px;
    cursor: pointer;
    border: none;
    border-radius: 1em;
    background: var(--pr-light-cr);
    color: var(--pr-dark-cr);
    box-shadow: 5px 5px 15px var(--pr-dark-cr);
}

.safe {
    animation: safe 1s linear infinite;
}

.lose {
    background-color: #c01313;
}

footer {
    border-top: 2px solid var(--pr-dark-cr);
    height: 50px;
    background: var(--pr-light-cr);
    width: 100%;
    display: grid;
    place-content: center;
    margin-top: auto;
}

.dark-mode {
    background: var(--dark-glass);
    color: var(--darkmode-cr);
}

.light-mode {
    background: var(--glass);
}

.used {
    cursor: not-allowed;
    background: #cc7575;
}

.menu.dark-mode {
    text-decoration: underline 3px solid var(--darkmode-cr);
    color: var(--darkmode-cr);
    background: none;
}


body.dark .cell{
    box-shadow: 0 0 0 1px #eee,
        inset -5px -5px 0 3px #ddd8,
        inset 2px 2px 0 2px #ddd8,
        inset -2.5px -2.5px 3px #333;
        background: linear-gradient(315deg, #aeaeae 5%, #ddd 60%);
    
}

body.dark .cell:active{
    box-shadow: 0 0 0 1px #eee,
        inset -5px -5px 0 3px #ddd8,
        inset 2px 2px 0 2px #ddd8,
        inset -1.5px -1.5px 3px #333;
}

body.dark .cell.flipped{
    background: linear-gradient(45deg,#ddd,#cbd8f3f1);
    border: none;
    box-shadow: 0 0 0 1px #eee;
}

@keyframes safe {

    0%,
    100% {
        box-shadow: 0 0 0 3px #000,
            inset -5px -5px 0 3px #9995,
            inset 2px 2px 0 2px #9995,
            inset -2.5px -2.5px 3px #000;
    }

    50% {
        box-shadow: inset 0 0 0 3px #adc229;
    }
}

@media screen and (max-height: 1000px) {

    .title {
        width: 445px;
    }

    .choose-level {
        width: 445px;
    }

    .title h1 {
        text-shadow:
            1px 3px #8fc7adfd,
            4px 4px var(--pr-dark-cr);
        font-family: 'Fredoka One', cursive;

    }

    .menu {
        font-size: 20px;
        top: -90px;
    }

    .nav-hints ul {
        bottom: 28px;
    }

    .game-info {
        width: 445px;
    }

    .game-conainer {
        width: 400px;
        height: 380px;
    }

    .title {
        font-size: 20px;
        height: 60px;
    }

    .choose-level {
        height: 80px;
    }

    .choose-level h2 {
        font-size: 27px;
    }

    .choose-level form {
        font-size: 25px;
        align-items: flex-end;
        width: 350px;
    }

    .nav-hints {
        transform: scale(0.7);
        top: 75px;
        left: 10px;
        z-index: 5;
    }

    .cell {
        height: 30px;
        width: 30px;
    }

    .life {
        font-size: 30px;
        height: 40px;

    }

    .timer {
        font-size: 25px;
        height: 30px;
    }

    .flags {
        font-size: 20px;
    }
}

@media screen and (max-width: 650px) {

    .title {
        width: 445px;
    }

    .choose-level {
        width: 445px;
    }

    .title h1 {
        text-shadow:
            1px 3px #8fc7adfd,
            4px 4px var(--pr-dark-cr);
        font-family: 'Fredoka One', cursive;

    }

    .menu {
        font-size: 20px;
        top: -90px;
    }

    .nav-hints ul {
        bottom: 28px;
    }

    .game-info {
        width: 445px;
    }

    .game-conainer {
        width: 400px;
        height: 380px;
    }

    .title {
        font-size: 20px;
        height: 60px;
    }

    .choose-level {
        height: 80px;
    }

    .choose-level h2 {
        font-size: 27px;
    }

    .choose-level form {
        font-size: 25px;
        align-items: flex-end;
        width: 350px;
    }

    .nav-hints {
        transform: scale(0.7);
        top: 75px;
        left: 10px;
        z-index: 5;
    }

    .cell {
        height: 30px;
        width: 30px;
    }

    .life {
        font-size: 30px;
        height: 40px;

    }

    .timer {
        font-size: 25px;
        height: 30px;
    }

    .flags {
        font-size: 20px;
    }
}

