@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@1&family=Fredoka+One&family=Orbitron:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
    font-family: 'Fredoka One', cursive;
    user-select: none;
}

:root {
    --pr-light-cr: #eee;
    --pr-dark-cr: #252525;
    --glass: linear-gradient(45deg, #eee5, #eee);
    --container-width: 645px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(315deg, rgb(170, 185, 199), rgba(81, 104, 128, 0.6));
    background-color: olive;
    background-repeat: no-repeat;
}

.title {
    height: 90px;
    background: #27292759;
    width: var(--container-width);
    text-align: center;
    font-size: 34px;
    border-top-left-radius: 25% 50%;
    border-top-right-radius: 25% 50%;
    border-top: 8px groove #8f9e8f;
}

.title h1 {
    color: #669222;
    text-shadow:
        2px 5px var(--pr-light-cr),
        5px 5px var(--pr-dark-cr);
    letter-spacing: .1em;
    position: relative;
    font-family: 'Changa One', cursive;
    animation: title 12s linear infinite;
    font-weight:400 ;
}

@keyframes title {
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}

.nav-hints {
    position: absolute;
    height: 50px;
    width: 50px;
    left: 5%;
    top: 100px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    transition: 0.5s;

}

.menu {
    position: absolute;
    top: -60px;
    width: 100%;
    font-size: 20px;
    color: var(--pr-dark-cr);
    text-decoration: underline 3px solid var(--pr-dark-cr);
    transition: 0.5s;

}

.menu.active {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    background: #d2d8d2;
    width: 150px;
    border-radius: none;
    text-decoration: none;
    color: #cc7575;

}

.nav-hints ul {
    position: relative;
    list-style: none;
    color: var(--pr-dark-cr);
    transition: 0.5s;
    transform: translateX(-150px);
}

.nav-hints ul li {
    position: relative;
    border-top: 1px solid var(--pr-dark-cr);
    display: none;
    justify-content: center;
    align-items: flex-start;
    opacity: 0;
    overflow: hidden;
}

.nav-hints.active ul {
    display: flex;
    width: 150px;
    height: 300px;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1;
    background: #d2d8d2;
    transform: translateX(0px);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;

}

.nav-hints.active ul li {
    width: 100%;
    font-size: 20px;
    left: 0;
    display: flex;
    opacity: 1;

}

.used {
    cursor: not-allowed;
    background: #cc7575;
}

.choose-level {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: var(--glass);
    width: var(--container-width);
    position: relative;
    box-shadow: -5px 0 15px var(--pr-light-cr),
        15px 10px 20px #527279;
}

.choose-level h2 {
    font-size: 30px;
    padding-bottom: 15px;
}

.choose-level form {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 35px;
    overflow: hidden;

}

label {
    cursor: pointer;
}

.choose-level label input {
    position: relative;
    left: 50px;
    -webkit-appearance: none;
    width: 0;
}

.choose-level label input:checked {
    box-shadow: 0 0 80px 50px olive;
}

.game-info {
    height: 100px;
    width: var(--container-width);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: var(--glass);
    box-shadow: inset 0 0 13px var(--pr-dark-cr),
        inset 0 0 200px #4f5e52,
        15px 10px 25px #4f5e52;
    position: relative;
}

.life {
    font-size: 30px;
    color: red;
    letter-spacing: 0.5em;
    background: var(--glass);
    text-align: center;
    padding-left: 20px;
    border-radius: 14px;
    box-shadow: inset 0 0 0 2px var(--pr-dark-cr);
}

.timer {
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
    color: var(--pr-dark-cr);
    background: var(--glass);
    width: 130px;
    height: 30px;
    text-align: center;
    font-weight: 600;
    padding: 5px;
    border-radius: 16px;
    box-shadow: 0 0 0 2px var(--pr-dark-cr);
    letter-spacing: 0.1em;
}

.flags {
    font-size: 25px;
    background: var(--glass);
    padding: 8px;
    border-radius: 8px;
    float: left;
    box-shadow: 0 0 0 2px var(--pr-dark-cr);
    letter-spacing: 0.2em;
}

.game-conainer {
    width: 600px;
    height: 530px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 20px;
    background: var(--glass);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: -3px 0 15px var(--pr-light-cr),
        15px 10px 15px #527279;

}

.board {
    border-radius: 3px;
    display: flex;
    justify-content: center;

}

.board table {
    table-layout: fixed;
    display: grid;
}

.cell {
    height: 40px;
    text-align: center;
    width: 40px;
    box-shadow: 0 0 0 .2px #000,
        inset -5px -5px 0 3px #9992,
        inset 2px 2px 0 2px #9992,
        inset -2.5px -2.5px 3px #000;
    background: linear-gradient(315deg, #8f8d8d 5%, #b8b8b8 60%);
    cursor: pointer;
    font-size: 1em;
    user-select: none;
    /* border-radius: 7px; */
    display: grid;
    place-items: center;
    transition: background 1s;
}
.cell:active{
    box-shadow: 0 0 0 .2px #000,
    inset -5px -5px 0 3px #9992,
    inset 2px 2px 0 2px #9992,
    inset -1.5px -1.5px 3px #000;
}


.flipped {
    background: var(--glass);
    cursor: default;
}

.end-screen {
    position: absolute;
    height: 200px;
    width: 350px;
    background: linear-gradient(45deg,
            #808000e6, #b2b1b1);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 0 5px #222,
        inset 5px 5px 15px #eee,
        inset -5px -5px 10px #222,
        10px 10px 15px #222;
    border-radius: 16px;

}

.greet {
    font-size: 40px;
    color: var(--pr-dark-cr);
    text-shadow: 5px 5px var(--pr-light-cr),
        10px 10px var(--pr-dark-cr);
}

.end-screen button {
    font-size: 20px;
    margin-top: 30px;
    padding: 12px;
    cursor: pointer;
    border: none;
    border-radius: 1em;
    background: var(--pr-light-cr);
    color: var(--pr-dark-cr);
    box-shadow: 5px 5px 15px var(--pr-dark-cr);
}

.safe {
    animation: safe 1s linear infinite;
}

.lose {
    background-color: #c01313;
}

@keyframes safe {

    0%,
    100% {
        box-shadow: 0 0 0 3px #000,
            inset -5px -5px 0 3px #9995,
            inset 2px 2px 0 2px #9995,
            inset -2.5px -2.5px 3px #000;
    }

    50% {
        box-shadow: inset 0 0 0 3px #adc229;
    }
}

@media screen and (max-height: 1000px) {

    .title {
        width: 445px;
    }

    .choose-level {
        width: 445px;
    }

    .title h1 {
        text-shadow:
        1px 3px #8fc7adfd,
        4px 4px var(--pr-dark-cr);
    }

    .menu {
        font-size: 20px;
        top: -90px;
    }

    .nav-hints ul {
        bottom: 28px;
    }



    .game-info {
        width: 445px;
    }

    .game-conainer {
        width: 400px;
        height: 380px;
    }

    .title {
        font-size: 20px;
        height: 60px;
    }

    .choose-level {
        height: 80px;
    }

    .choose-level h2 {
        font-size: 27px;
    }

    .choose-level form {
        font-size: 25px;
        align-items: flex-end;
    }

    .nav-hints {
        transform: scale(0.7);
        top: 75px;
        left: 10px;
        z-index: 5;
    }

    .cell {
        height: 30px;
        width: 30px;
    }

    .life,
    .timer {
        font-size: 30px;
        height: 40px;
    }

    .flags {
        font-size: 20px;
    }
}

@media screen and (max-width: 650px) {

    .title {
        width: 445px;
    }

    .choose-level {
        width: 445px;
    }

    .title h1 {
        text-shadow:
        1px 3px #8fc7adfd,
        4px 4px var(--pr-dark-cr);
    }

    .menu {
        font-size: 20px;
        top: -90px;
    }

    .nav-hints ul {
        bottom: 28px;
    }



    .game-info {
        width: 445px;
    }

    .game-conainer {
        width: 400px;
        height: 380px;
    }

    .title {
        font-size: 20px;
        height: 60px;
    }

    .choose-level {
        height: 80px;
    }

    .choose-level h2 {
        font-size: 27px;
    }

    .choose-level form {
        font-size: 25px;
        align-items: flex-end;
    }

    .nav-hints {
        transform: scale(0.7);
        top: 75px;
        left: 10px;
        z-index: 5;
    }

    .cell {
        height: 30px;
        width: 30px;
    }

    .life,
    .timer {
        font-size: 30px;
        height: 40px;
    }

    .flags {
        font-size: 20px;
    }
}